.sidebar-column {
  padding-right: 0px;
  padding-left: 0px;
  background-color: lightgrey;
  border-color: lightgrey;
}

.items-column {
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;
}

.content-column {
  padding-right: 20px;
  padding-left: 5px;
  background-color: white;
}

#feed-header {
  background-color: lightgrey;
  border-color: lightgrey;
  font-weight: bold;
}

#feed-list {
  background-color: lightgrey;
  border-color: lightgrey;
  max-height: 100vh;
  overflow: auto;
}

.feed {
  background-color: lightgrey;
  border-color: lightgrey;
}

.feed.active {
  background-color: darkgrey;
  border-color: darkgrey;
}

#item-header {
  font-weight: bold;
}

#item-list {
  max-height: 100vh;
  overflow: auto;
}

.feed-item.active {
  background-color: darkgrey;
  border-color: darkgrey;
}

#content-header {
  font-weight: bold;
}

#content-body {
  max-height: 100vh;
  overflow: auto;
}
